

.baslik3{
    padding-top: 470px;
    padding-left: 40px;
    color: #e67e22;
    text-align: left;
    position: absolute;
  }
  .baslik4{
    padding-top: 650px;
    padding-left: 40px;
    color: #e67e22;
    text-align: left;
    position: absolute;
  }
  