.app {
  padding-top: 0px;
}
.slider1{
  padding-top: 520px;

}
.slider2{
  padding: 0px;
}
.sarma{
position: relative;
height: 50px;
}
.baslik4{
  padding-left: 40px;
  font-family: Arial, sans-serif;
  color: #e67e22;
  text-align: left;
  position: absolute;
}
